<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Mi Prefil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="profile-container">
    <!-- Imagen de perfil -->
    <img [src]="usuario.profilePicture" alt="Foto de perfil" class="profile-picture" />

    <!-- Nombre de usuario -->
<!-- Nombre de Usuario -->
<h2 class="username">{{ usuario.username }}</h2>
<p>{{ usuario.email }}</p>


    <!-- Botón para editar perfil -->
    <ion-button expand="full" color="primary" (click)="editarPerfil()">Editar Perfil</ion-button>
  </div>
</ion-content>