<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>Registro de Clases</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <br>
  <br>
  <div id="qrImage">
    <div style="margin: 20px auto; padding-left: 90px; padding-right: 90px; height: 200px;">
      <div style="width: auto; height: auto;">
        <qr-code value="id=1a88
        nombre= Marcos" size="190" errorCorrectionLevel="M"></qr-code>
      </div>
    </div>
  </div>
</ion-content>
